@{
    ViewData["Title"] = "Studenten";
}
<h1>@ViewData["Title"]</h1>

      <div class="form">
        <label for="SID">Student Id</label>
        <input type="number" id="SID" name="Student Id" placeholder="Enter Student Id.."><br />

        <label for="Sname">Voornaam</label>
        <input type="text" id="SVname" name="StudentVoornaam" placeholder="Enter voornaam.."><br />

        <label for="Sname">Last name</label>
        <input type="text" id="SAname" name="StudentAchternaam" placeholder="Enter achternaam.."><br />

        <label for="Sname">Adres</label>
        <input type="text" id="Adres" name="Adres" placeholder="Enter adres.."><br />

        <label for="Sname">Woonplaats</label>
        <input type="text" id="Wp" name="Woonplaats" placeholder="Enter woonplaats.."><br />
      </div>